# Discovering the Titanic

The Titanic is a well known ship but did you know that it is also one of the most popular datasets in Data Science. Here's the link to the dataset:

[https://www.kaggle.com/c/titanic/]

Machine Learning is of course all about statistical prediction and understanding of data. The objective of this exercise is to predict whether a passenger survived the sinking of the Titanic, based on the information available about that passenger. The part of the code to train the model, make predictions and evaluate its performance has already been coded. You have to complete the upstream part, which will allow you to prepare the dataset before training the model (preprocessing).

1. Download the dataset _train.csv_.
2. Try to understand what's in this dataset.
    1. You will find all the explanations via this link : [https://www.kaggle.com/c/titanic/data]

3. Place the file train.csv in the same folder as this notebook and read it.

In [11]:
import pandas as pd

df_train = pd.read_csv("train.csv", index_col = [0])

4. Explore the dataset and determine which columns are useful for prediction and what preprocessing you will do.

In [12]:
print("Number of rows : %s, Number of columns : %s" % df_train.shape)
display(df_train.head())
display(df_train.describe(include = 'all'))

Number of rows : 891, Number of columns : 11

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,"Fahlstrom, Mr. Arne Jonas",male,NaN,NaN,NaN,1601,NaN,B96 B98,S
freq,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

The exploration of the above data makes it possible to know which pre-processing will be necessary:

**A. Preprocessing to be planned with pandas**

**Unnecessary columns for prediction, to be thrown away** :
- _PassengerId_ and _Name_ are passenger identifiers, we won't use them for prediction (these columns don't contain any information)
- Ticket_ and Cabin_ have too many different modalities, they might not be very useful and if we had to pass them in OneHotEncoding, they would make the number of columns explode in relation to the number of rows.

**Columns with too many missing values, to be discarded** : Cabin


**Target variable/target (Y) that we will try to predict, to separate from the others** : Survived

**------------**

**B. Preprocessings to be planned with scikit-learn****.

**Explanatory variables (X)**
We need to identify which columns contain categorical variables and which columns contain numerical variables, as they will be treated differently.

- Categorical variables : Sex, Embarked
- Numerical variables : Class, Age, Bbsp, Parch, Fare.

In this dataset, we have both types of variables. It will thus be necessary to plan to create a numeric_transformer (which will call the StandardScaler class) and a categorical_transformer (which will call the OneHotEncoder class). Moreover, as we observe missing values in the _Age_ and _Embarked_ columns, we will have to plan to call the SimpleImputer class to handle the missing values. 

**Target variable Y**
Here, the target variable Y is categorical (survival vs. death) but we notice that it is already encoded in numbers (1 vs. 0). It will therefore not be necessary to go through a label encoding step.

## Preprocessing - pandas part ##
5. Use the pandas library to discard columns you won't use for prediction.

In this dataset, some categorical variables have too many modalities, we will have to think about throwing them away: typically, for a dataset that is less than 1000 lines long, we will tend to reject categorical variables that have more than 15-20 possible values. So pay attention to the number of unique values in each column, to decide which ones you will keep.

Dropping useless columns...
...Done.
   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

6. Separate the target variable (Y) from the explanatory variables (X)

In [26]:
X_train = df_train.loc[:, [column for column in df_train if column != "Survived"]]
Y_train = df_train.loc[:, ["Survived"]]
display(X_train.head())
display(Y_train.head())

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

             Survived
PassengerId
1                   0
2                   1
3                   1
4                   1
5                   0

## Preprocessing - scikit-learn part ##
8. Separate your data to create a train set and a test set, the latter should represent 15% of the available data.

Dividing into train and test sets...
...Done.

9. Create the preprocessing pipeline for numeric columns

In [25]:
display(df_train.describe().columns)
display(df_train.describe(include="object").columns)

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

[[1 'male' 64.0 0 0 26.0 'S']
 [3 'male' 21.0 0 0 8.05 'S']
 [3 'male' nan 1 0 7.75 'Q']
 [3 'female' 40.0 1 0 9.475 'S']
 [2 'male' 44.0 1 0 26.0 'S']]

10. Create the preprocessing pipeline for category columns

11. Use the preprocessing pipelines of questions 9 and 10 to transform X_train and X_test

Reminder: you need to call `fit_transform()` on X_train and only `transform()` on X_test, to ensure that the latter gets the same transformations as X_train_.

Performing preprocessings on train set...
[[1 'male' 64.0 0 0 26.0 'S']
 [3 'male' 21.0 0 0 8.05 'S']
 [3 'male' nan 1 0 7.75 'Q']
 [3 'female' 40.0 1 0 9.475 'S']
 [2 'male' 44.0 1 0 26.0 'S']]
...Done.
[[-1.60067161e+00  2.61131471e+00 -4.63468368e-01 -4.65997851e-01
  -1.09604554e-01  1.00000000e+00  0.00000000e+00  1.00000000e+00]
 [ 8.10688409e-01 -6.78358906e-01 -4.63468368e-01 -4.65997851e-01
  -4.71133941e-01  1.00000000e+00  0.00000000e+00  1.00000000e+00]
 [ 8.10688409e-01 -2.71796941e-16  4.31545801e-01 -4.65997851e-01
  -4.77176214e-01  1.00000000e+00  1.00000000e+00  0.00000000e+00]
 [ 8.10688409e-01  7.75217807e-01  4.31545801e-01 -4.65997851e-01
  -4.42433140e-01  0.00000000e+00  0.00000000e+00  1.00000000e+00]
 [-3.94991602e-01  1.08123396e+00  4.31545801e-01 -4.65997851e-01
  -1.09604554e-01  1.00000000e+00  0.00000000e+00  1.00000000e+00]]

Performing preprocessings on test set...
[[3 'male' nan 0 0 14.4583 'C']
 [3 'male' nan 0 0 7.55 'S']
 [3 'male' 7.0 4 1 29.125 'Q']
 [1 'female' nan 1 0 146.5208 'C']
 [3 'female' 29.0 0 2 15.2458 'C']]
...Done.
[[ 8.10688409e-01 -2.71796941e-16 -4.63468368e-01 -4.65997851e-01
  -3.42064929e-01  1.00000000e+00  0.00000000e+00  0.00000000e+00]
 [ 8.10688409e-01 -2.71796941e-16 -4.63468368e-01 -4.65997851e-01
  -4.81204397e-01  1.00000000e+00  0.00000000e+00  1.00000000e+00]
 [ 8.10688409e-01 -1.74941543e+00  3.11658831e+00  7.80505235e-01
  -4.66642017e-02  1.00000000e+00  1.00000000e+00  0.00000000e+00]
 [-1.60067161e+00 -2.71796941e-16  4.31545801e-01 -4.65997851e-01
   2.31779438e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00]
 [ 8.10688409e-01 -6.63266058e-02 -4.63468368e-01  2.02700832e+00
  -3.26203960e-01  0.00000000e+00  0.00000000e+00  0.00000000e+00]]

### Training model

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
# Train model
model = LogisticRegression()

print("Training model...")
model.fit(X_train, Y_train) # Training is always done on train set !!
print("...Done.")

Training model...
...Done.

### Predictions

In [43]:
# Predictions on training set
print("Predictions on training set...")
Y_train_pred = model.predict(X_train)
print("...Done.")
print(Y_train_pred[0:5])
print()

Predictions on training set...
...Done.
[0 0 0 0 0]

In [44]:
# Predictions on test set
print("Predictions on test set...")
Y_test_pred = model.predict(X_test)
print("...Done.")
print(Y_test_pred[0:5])
print()

Predictions on test set...
...Done.
[0 0 0 1 1]

### Performances evaluation

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
# Print scores
print("Accuracy on training set : ", accuracy_score(Y_train, Y_train_pred))
print("Accuracy on test set : ", accuracy_score(Y_test, Y_test_pred))

Accuracy on training set :  0.8018494055482166
Accuracy on test set :  0.7910447761194029

If you get a score close to 0.79 on the test set, it means that you managed to do all the preprocessings with a good methodology! :-)

# Optional - Alternative Solution

This solution is perfectly valid and we applied the rules from the lectures strictly. Now that we are more comfortable with Preprocessing with python, let's take a step back and see what we could have done differently by digging into the interpretation of the variables a little deeper.

1. Load the data again

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S


The exploration of the above data makes it possible to know which pre-processing will be necessary:

**A. Preprocessing to be planned with pandas**

**Unnecessary columns for prediction, to be thrown away** :
- _PassengerId_ and _Name_ are passenger identifiers, we won't use them for prediction (these columns don't contain any information)

### **- As it is true that _Name_ cannot be used as such for prediction, it contains valuable information on the socio-economic background of the passenger in the form of their title. We will try and extract a _Title_ variable from the variable _Name_**

- _Ticket_ and _Cabin_ have too many different modalities, they might not be very useful and if we had to pass them in OneHotEncoding, they would make the number of columns explode in relation to the number of rows.

### **- _Ticket_ and _Cabin_ do have way too many modalities in order to be useful for prediction, however, the _Cabin_ variable can easily be used after a slight transformation : let's create a new variable _HasCabin_ which is equal to 1 when the passenger has a cabin number and 0 otherwise.**

**Columns with too many missing values, to be discarded** : Cabin


**Target variable/target (Y) that we will try to predict, to separate from the others** : Survived

**------------**

**B. Preprocessings to be planned with scikit-learn****.

**Explanatory variables (X)**
We need to identify which columns contain categorical variables and which columns contain numerical variables, as they will be treated differently.

- Categorical variables : Sex, Embarked, HasCabin, Title
- Numerical variables : Class, Age, Bbsp, Parch, Fare.

In this dataset, we have both types of variables. It will thus be necessary to plan to create a numeric_transformer (which will call the StandardScaler class) and a categorical_transformer (which will call the OneHotEncoder class). Moreover, as we observe missing values in the _Age_ and _Embarked_ columns, we will have to plan to call the SimpleImputer class to handle the missing values. 

**Target variable Y**
Here, the target variable Y is categorical (survival vs. death) but we notice that it is already encoded in numbers (1 vs. 0). It will therefore not be necessary to go through a label encoding step.

## Preprocessing - pandas part ##
2. Create a column _HasCabin_ in the dataset that is constant equal to 1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

3. Using a mask, change the value of the variable _HasCabin_ to 0 wherever Cabin is missing.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

4. Import the regular expression library re

5. Create a column _Title_ that only contains the title extracted from the _Name_ variable. 
_Tips_ : You can first create a fuction that extracts the title from a single string and then use the _apply_ method to the variable _Name_.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,Mr

6. Display all the possible values and number of instances of each of these values in your dataset for the new _Title_ variable.

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Major         2
Mlle          2
Mme           1
Don           1
Lady          1
Ms            1
Jonkheer      1
Sir           1
Countess      1
Capt          1
Name: Title, dtype: int64

7. Some of these values represent only very few instances, and other values seem to represent the similar categories of people. Bring the similar categories under one name, and create a new category called _Rare_ that will represent all the underrepresented modalities.

Mr        517
Miss      185
Mrs       126
Master     40
Rare       23
Name: Title, dtype: int64

8. Now that we are done squeezing some extra information out of our variables, let's reproduce all the subsequent steps from the first solution and let's compare our models' performances.

Dropping useless columns...
...Done.
   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  HasCabin  \
0         0       3    male  22.0      1      0   7.2500        S         0
1         1       1  female  38.0      1      0  71.2833        C         1
2         1       3  female  26.0      0      0   7.9250        S         0
3         1       1  female  35.0      1      0  53.1000        S         1
4         0       3    male  35.0      0      0   8.0500        S         0

  Title
0    Mr
1   Mrs
2  Miss
3   Mrs
4    Mr

Separating labels from features...
...Done.
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked  HasCabin Title
0       3    male  22.0      1      0   7.2500        S         0    Mr
1       1  female  38.0      1      0  71.2833        C         1   Mrs
2       3  female  26.0      0      0   7.9250        S         0  Miss
3       1  female  35.0      1      0  53.1000        S         1   Mrs
4       3    male  35.0      0      0   8.0500        S         0    Mr

Convert pandas DataFrames to numpy arrays...
...Done
[[3 'male' 22.0 1 0 7.25 'S' 0 'Mr']
 [1 'female' 38.0 1 0 71.2833 'C' 1 'Mrs']
 [3 'female' 26.0 0 0 7.925 'S' 0 'Miss']
 [1 'female' 35.0 1 0 53.1 'S' 1 'Mrs']
 [3 'male' 35.0 0 0 8.05 'S' 0 'Mr']]

[0, 1, 1, 1, 0]

Dividing into train and test sets...
...Done.

Performing preprocessings on train set...
[[1 'male' 64.0 0 0 26.0 'S' 0 'Mr']
 [3 'male' 21.0 0 0 8.05 'S' 0 'Mr']
 [3 'male' nan 1 0 7.75 'Q' 0 'Mr']
 [3 'female' 40.0 1 0 9.475 'S' 0 'Mrs']
 [2 'male' 44.0 1 0 26.0 'S' 0 'Mr']]
...Done.
[[-1.60067161e+00  2.61131471e+00 -4.63468368e-01 -4.65997851e-01
  -1.09604554e-01 -5.36110964e-01  1.00000000e+00  0.00000000e+00
   1.00000000e+00  0.00000000e+00  1.00000000e+00  0.00000000e+00
   0.00000000e+00]
 [ 8.10688409e-01 -6.78358906e-01 -4.63468368e-01 -4.65997851e-01
  -4.71133941e-01 -5.36110964e-01  1.00000000e+00  0.00000000e+00
   1.00000000e+00  0.00000000e+00  1.00000000e+00  0.00000000e+00
   0.00000000e+00]
 [ 8.10688409e-01 -2.71796941e-16  4.31545801e-01 -4.65997851e-01
  -4.77176214e-01 -5.36110964e-01  1.00000000e+00  1.00000000e+00
   0.00000000e+00  0.00000000e+00  1.00000000e+00  0.00000000e+00
   0.00000000e+00]
 [ 8.10688409e-01  7.75217807e-01  4.31545801e-01 -4.65997851e-01
  -4.42433140e-01 -5.36110964e-01  0.00000000e+00  0.00000000e+00
   1.00000000e+00  0.00000000e+00  0.00000000e+00  1.00000000e+00
   0.00000000e+00]
 [-3.94991602e-01  1.08123396e+00  4.31545801e-01 -4.65997851e-01
  -1.09604554e-01 -5.36110964e-01  1.00000000e+00  0.00000000e+00
   1.00000000e+00  0.00000000e+00  1.00000000e+00  0.00000000e+00
   0.00000000e+00]]

Performing preprocessings on test set...
[[3 'male' nan 0 0 14.4583 'C' 0 'Mr']
 [3 'male' nan 0 0 7.55 'S' 0 'Mr']
 [3 'male' 7.0 4 1 29.125 'Q' 0 'Master']
 [1 'female' nan 1 0 146.5208 'C' 1 'Mrs']
 [3 'female' 29.0 0 2 15.2458 'C' 0 'Mrs']]
...Done.
[[ 8.10688409e-01 -2.71796941e-16 -4.63468368e-01 -4.65997851e-01
  -3.42064929e-01 -5.36110964e-01  1.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  1.00000000e+00  0.00000000e+00
   0.00000000e+00]
 [ 8.10688409e-01 -2.71796941e-16 -4.63468368e-01 -4.65997851e-01
  -4.81204397e-01 -5.36110964e-01  1.00000000e+00  0.00000000e+00
   1.00000000e+00  0.00000000e+00  1.00000000e+00  0.00000000e+00
   0.00000000e+00]
 [ 8.10688409e-01 -1.74941543e+00  3.11658831e+00  7.80505235e-01
  -4.66642017e-02 -5.36110964e-01  1.00000000e+00  1.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00]
 [-1.60067161e+00 -2.71796941e-16  4.31545801e-01 -4.65997851e-01
   2.31779438e+00  1.86528549e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  1.00000000e+00
   0.00000000e+00]
 [ 8.10688409e-01 -6.63266058e-02 -4.63468368e-01  2.02700832e+00
  -3.26203960e-01 -5.36110964e-01  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  1.00000000e+00
   0.00000000e+00]]

Training model...
...Done.

Predictions on training set...
...Done.
[0 0 0 1 0]

Predictions on test set...
...Done.
[0 0 0 1 1]

Accuracy on training set :  0.8282694848084544
Accuracy on test set :  0.8208955223880597

Tada!
This example shows that by adding a little additional information to a model, it is possible to create a significant impact on the performances of the predictive model. Knowing and applying the preprocessing guidelines is great but always remember to check for two important things before you proceed :

* If a variables containes missing values, ask yourself why this value is missing and whether you could use it as information to feed the model with. In the above example, the fact that a passenger does not have a cabin number simply means that they have no cabin. It is very common for missing values to contain hidden meaning, completely random missing values (caused by a bug or other unpredictable causes) are very rare.

* When a non-numerical variable is not usable as is, always ask yourself whether you could still extract some information from it. Here the _Name_ variable cannot be used, however it mentions the passenger's title which can be useful information.